@page
@model EditModel
@{
}
<div class="container">
    <div class="row">
        <form method="POST">
            <div class="border p-3 mt-4">
                <input type="hidden" asp-for="FoodType.Id"/>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <label asp-for="FoodType.Name" class="col-6 m-2 form-label"></label><br/>
                <input asp-for="FoodType.Name" class="col-6 m-2 form-control"/>
                <span class="text-danger" asp-validation-for="FoodType.Name"></span> <br/>
                <input type="submit" class="btn btn-success mx-2" value="Create"/>
                <a asp-page="index" class="btn btn-info ">Back To List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial"/>
}
