html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.Abtn-primary {
    background-color: #0d6efd !important;
}
.Abtn-Gray {
    background-color: #373a40 !important;
}
.Abgn-Dark {
    background-color: #212121;
}
.bottom-15 {
    bottom: 15% !important;
}
.start-8{
    left: 8% !important;
}

.end-10 {
    right: 10% !important;
}