@if (TempData["ResultStatus"] !=null)
{
    <div id="TempToast" class="toast position-absolute top-0 end-10 bg-primary" role="alert" style="z-index: 3">
        <div class="toast-header bg-primary text-white">
            <strong class="me-auto">Information</strong>
            <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close">
                <span aria-hidden="true"></span>
            </button>
        </div>
        <div class="toast-body">
            <span class="text-white">@TempData["ResultStatus"]</span>
        </div>
    </div>
}
